<p>
  <b>Name year:</b>
  <%=h @name_year.name_year %>
</p>

<p>
  <b>Is confirmed:</b>
  <%=h @name_year.is_confirmed %>
</p>


<%= link_to 'Edit', edit_name_year_path(@name_year) %> |
<%= link_to 'Back', name_years_path %>
