defaults: &defaults
  adapter: mysql
  username: root
  # socket: /tmp/mysql.sock #uncomment this if you have socket problems
  password:
  host: localhost

development:
  database: gna_hosting_dev
  <<: *defaults

test:
  database: gna_hosting_test
  <<: *defaults

production:
  database: gna_hosting
  <<: *defaults
